body{
    background-color: rgb(216, 209, 183);
    text-transform: uppercase;
}
.container{
    display: grid;
    width: 1500px;
    height: 1000px;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px 60px;
    gap:5px;
}
#ujj2{
    height: 60px;
    width: 100px;
    float: left;
}
#ize{
    float: left;
    height: 60px;
    width: 600px;
}
#mc{
    float: left;
    width: 150px;
    height: 120px;
}
#var{
    width: 250px;
    height: 120px;
}
#w{
    float: left;
}
#python{
    width: 300px;
    height: 360px;
}
#szoveg{
    text-transform: uppercase;
    font-size: 40px;
    padding: 0px;
    margin: 0px 40px 10px 0px;
}
#f{
    float:left;
    height: 100px;
}
#ujj{
    float: left;
    width: 95px;
}
#suveg{
    float: left;
    width: 70px;
}
#neville{
    float: right;
    height: 90px;
    padding-top: 30px;
    font-weight: 900;
}
#harry{
    float: right;
    width: 250px;
    height: 245px;
}
#cim{
    height: 120px;
    width: 600px;
}
.griditem1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;
    font-size: 25px;
    font-weight: 900;
}
.griditem2{
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
.griditem3{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;

    letter-spacing: 10px;
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.griditem4{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    font-weight: 900;
    background-color: black;
    color: blanchedalmond;
    font-size:110px;
    letter-spacing: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.griditem5{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
    font-weight: 900;
    text-align: justify;
    padding: 0;
    margin: 0;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.griditem6{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 5;
    text-transform: lowercase;
    text-align: justify;
    padding-right: 30px;
}
.griditem7{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 8;
    font-size: 25px;
    letter-spacing: 4px;
    text-indent: 10px;
    font-weight: 900;

}
.tabla{
    font-size: x-small;
}
.griditem8{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;

}
.griditem9{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;

    text-transform: none;
    font-size: small;
}
#severus{
    text-transform: uppercase;
    font-size: x-large;
    letter-spacing: 5px;
    font-weight: bolder;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.griditem10{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;

}
.griditem11{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 7;
 
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 25px;
}
.griditem12{
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 8;
 
    font-weight: 900;
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}